# Assignment 1

The car's market price data set consists of three types of entities: 
* the specification of an auto in terms of various characteristics;
* its assigned insurance risk rating;
* its normalized losses in use as compared to other cars. 

The second rating corresponds to the degree to which the auto is more risky than its price indicates. Cars are initially assigned a risk factor symbol associated with its price. Then, if it is more risky (or less), this symbol is adjusted by moving it up (or down) the scale. Actuarians call this process "symboling". A value of +3 indicates that the auto is risky, -3 that it is probably pretty safe.

### Attribute Information

1. symboling: -3, -2, -1, 0, 1, 2, 3. 
2. normalized-losses: continuous from 65 to 256. 
3. make: alfa-romero, audi, bmw, chevrolet, dodge, honda,isuzu, jaguar, mazda, mercedes-benz, mercury, mitsubishi, nissan, peugot, plymouth, porsche, renault, saab, subaru, toyota, volkswagen, volvo 
4. fuel-type: diesel, gas. 
5. aspiration: std, turbo. 
6. num-of-doors: four, two. 
7. body-style: hardtop, wagon, sedan, hatchback, convertible. 
8. drive-wheels: 4wd, fwd, rwd. 
9. engine-location: front, rear. 
10. wheel-base: continuous from 86.6 to 120.9. 
11. length: continuous from 141.1 to 208.1. 
12. width: continuous from 60.3 to 72.3. 
13. height: continuous from 47.8 to 59.8. 
14. curb-weight: continuous from 1488 to 4066. 
15. engine-type: dohc, dohcv, l, ohc, ohcf, ohcv, rotor. 
16. num-of-cylinders: eight, five, four, six, three, twelve, two. 
17. engine-size: continuous from 61 to 326. 
18. fuel-system: 1bbl, 2bbl, 4bbl, idi, mfi, mpfi, spdi, spfi. 
19. bore: continuous from 2.54 to 3.94. 
20. stroke: continuous from 2.07 to 4.17. 
21. compression-ratio: continuous from 7 to 23. 
22. horsepower: continuous from 48 to 288. 
23. peak-rpm: continuous from 4150 to 6600. 
24. city-mpg: continuous from 13 to 49. 
25. highway-mpg: continuous from 16 to 54. 
26. price: continuous from 5118 to 45400.

### Relevant Papers

Kibler, D., Aha, D.W., & Albert,M. (1989). Instance-based prediction of real-valued attributes. Computational Intelligence, Vol 5, 51--57.

### Library imports

In [3]:
import seaborn as sns
import pandas as pd
import matplotlib as mp
%matplotlib inline
import numpy as np
import sklearn as sl

## Task 1 - Data Exploration [10 Marks]

###  1.1 Import Data

**Q [1 Mark]:** Upload the dataset of `Cars.data`. Import the dataset into a data frame named **cars**. Please also name each attribute (see *Attribute Information* section above).

In [16]:
cars = pd.read_csv("Cars.data")
cars.head(10)

,symboling,normalized_losses,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

Attribute naming was done directly through modification of the .data file, in order to allow the read_csv function to associate the proper column names.

###  1.2 Data Cleaning

**Q [1 Mark]:** Look at columns `symboling` and `normalized-losses`, code to report whether we have missing value(s) for each of these two columns. If any, report the number of missing values.

Note: Here missing values only refer to the "?".

In [21]:
cars[cars.symboling=="?"].shape

(0, 26)

In [19]:
cars[cars.normalized_losses=="?"].shape

(41, 26)

There are no missing values for the symboling column but there are 41 missing values for the normalized_losses column.

**Q [1 Mark]:** Report the number of columns which have missing values in the **cars** data.

In [34]:
missing = cars.isin(["?"]).sum()
count_col = 0
for column in missing:
    if column:
        count_col+=1
count_col

7

**Q [1 Mark]:** Report the total number of missing values in the **cars** data.

In [36]:
count_val = 0
for column in missing:
    count_val+=column
count_val

59

**Q [2 Marks]:** If you do find that this data has missing values, replace the missing values using the following strategy:

- For numerical column, replace the missing values with the mean value of that column.
- For categorical column, replace the missing values with the most frequent value of that column.

Hint: Refer to [`SimpleImputer`](https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html)

In [ ]:
[code...]

###  1.3 Data Exploration

**Q [1 Mark]:** Draw a histogram on `Price` and discuss your findings.

In [ ]:
[code...]

**Q [1 Mark]:** Choose a suitable method and report the relationship (e.g., linear) between `price` and `horsepower`.

In [ ]:
[code...]

**Q [1 Mark]:** Choose a suitable method and report the relationship between `price` and `make`.

In [ ]:
[code...]

**Q [1 Mark]:** Choose a suitable method and report the relationship between `price` and `make`. Note: here suppose you are only interested in these makes `honda`, `audi`, `mazda`, `bmw`, `audi`, `toyota`, your X-axis thus only includes these makes.

In [ ]:
[code...]

## Task 2 - KNN Modeling [10 Marks]

**Q [1 Mark]:** Based on the cleaned data, please only select columns with continuous values and import them into a new data frame named **numeric_cars**. Report the first five instances.

In [ ]:
[code...]

**Q [1 Mark]:** The type of our target column `price` is numerical. Use [`Binarizer`](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.Binarizer.html) to set feature values to 0 or 1 via a threshold (the mean value of that column). Report the first five instances.

In [ ]:
[code...]

**Q [2 Marks]:** Train the KNN model with classification.  
Note: 
1. 75% of the data is used as the training set and the rest 25% is as the test set. 
2. Report the AUC value. 
3. Apart from the specified parameters and `random_state=1` for all cases, please use the default setting for other parameters.

In [ ]:
[code...]

**Q [2 Marks]:** Train the KNN classfication model via different k values.   
Note:  
1. 75% of the data is used as the training set and the rest 25% is as the test set. 
2. Draw a figure with the x-axis representing the different k values `range(1,30)` in KNN and y-axis representing AUC value. Report the AUC performance on the training and test data respectively. 
3. Apart from the specified parameters and `random_state=1` for all cases, please use the default setting for other parameters.

In [ ]:
[code...]

**Q [2 Marks]:** Optimise the parameter k via cross-validated grid-search over a parameter grid.   
Note: 
1. Use [`GridSearchCV`](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html) to choose the best k value on the training set. The parameter grid is set to `np.arange(1, 30)`.
2. The model evaluation criteria is AUC performance.
3. Report the best k value and the corresponding AUC performance.
4. Apart from the specified parameters and `random_state=1` for all cases, please use the default setting for other parameters.

In [ ]:
[code...]

**Q [2 Marks]:** Train the KNN classification model via 5-fold CV.   
Note:  
1. Train a 5-fold CV KNN on the whole data. 
2. The model evaluation criteria is AUC performance.
3. Draw a figure with the x-axis representing the different k values `range(1,30)` in KNN and y-axis representing cross-validated AUC value. 
4. Apart from the specified parameters and `random_state=1` for all cases, please use the default setting for other parameters.

In [ ]:
[code...]